<div class="container-fluid">
    <form>
        <button type="button" class="btn btn-primary btn-block">CONTINUAR CON FACEBOOK</button>
        <button type="button" class="btn btn-dark btn-block mb-3">CONTINUAR CON APPLE</button>
        <hr>
        <div class="form-group">
            <input type="text" class="form-control form-control-sm" placeholder="Correo">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-sm" placeholder="Contraseña">
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Recuérdame</label>
            </div>
            <button type="button" class="btn btn-sm btn-success" (click)="signIn()" >Iniciar Sesíon</button>
        </div>
    </form>
</div>