<div class="container py-3">
    <div class="row">
        <div
            *ngFor="let album of albums"
            class="col-12 col-sm-6 col-md-4 col-lg-3">
            <app-music-item
                [img]="album.images[0].url"
                [name]="album.name"
                [artists]="album.artists"
                (goArtist)="goArtist($event)">
            </app-music-item>
        </div>
    </div>
</div>